html, body {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li:first-of-type {
    flex-grow: 1;
    border: solid 2px red;
}

ul li:not(:first-of-type) {
    padding-right: 50px;
}