          html {
              background: radial-gradient( circle at center, rgb(136, 136, 136), #fff);
          }
          
          body {
              font-family: Arial, Helvetica, sans-serif;
              color: #222;
              font-size: 1em;
              line-height: 1.5em;
              background-color: white;
              box-shadow: 1px 1px 8px rgb(87, 87, 87);
              width: 65vw;
              margin: auto;
              padding: 2vmin;
          }
          
          #menutop {
              display: flex;
              padding: auto;
          }
          
          a {
              text-decoration: none;
              padding: 0px;
          }
          
          nav {
              background: linear-gradient(to top, #fbfbfb, #ebebeb)
          }
          
          .navi1 {
              list-style: none;
              color: #c1c1c1;
              padding: 0.3em;
              border: 2px 0px solid black;
              text-align: center;
              height: 2em;
              line-height: 2em;
              text-transform: uppercase;
              font-size: 0.8em;
              border-right: 1px solid #e0e0e0;
              text-shadow: 1px 1px 1px #333333;
              flex-grow: 1;
          }
          
          .navi1 a:hover {
              color: purple;
              transition-delay: 1s;
          }
          
          #news {
              display: flex;
              background-color: #eee;
              height: 350px;
          }
          
          .img {
              color: white;
              background-color: rgba(0, 0, 0, 0.5);
              padding: 10px;
              text-align: center;
              font-size: 12px;
          }
          
          .new1 {
              margin: auto;
              height: 300px;
          }
          
          .new2 {
              height: 250px;
              position: relative;
              bottom: -55px;
          }
          
          .new2:hover {
              transform: translate(0px, -55px);
          }
          
          footer {
              background-color: #666666;
              color: white;
              padding: 10px 10px 0px 10px;
          }
          
          #image {
              display: flex;
          }
          
          #chef1,
          #chef2,
          #chef3 {
              margin: 0px;
              width: 33%;
          }
          
          #chef1 img,
          #chef2 img,
          #chef3 img {
              border-radius: 200px;
          }
          
          figcaption {
              font-size: 11px;
              text-align: justify;
              padding: 10px 10px 0px 10px;
          }
          form {
		padding: 6px 0 14px 25px;
		list-style: none;
		margin: 0;
		background: #47C4F4 url(../img/fond-box-bleu-bottom.png) scroll no-repeat left bottom;
	}

	form label {
		color: #010000;
		font-size: 11px;
		display: inline-block;
		width: 160px;
	}

	form input {
		border: 1px solid #329AD9;
	}

	form button {
		color: #21498E;
		font-weight: bold;
		border: 1px solid #3497DB;
		background: #F7F7FF;
		padding: 3px 6px;
	}

