html,
body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid red;
}

h2 {
    color: silver;
    font-size: 15px;
    border: 2px solid red;
}

main {
    background-color: gray;
    border: 2px solid red;
    margin-left: 150px;
    margin-right: 150px;
}

#centrage {
    margin: 20px 60px;
}

#flex {
    display: flex;
    flex-direction: row;
    height: 450px;
    border: 2px solid red;
}

section {
    justify-content: space-around;
}

.bloc2 {
    width: 400px;
    border: solid 2px greenyellow;
}

img {
    width: 220px;
    height: 270px;
}

#eau {
    margin-top: 20px;
}

#fleur {
    width: 220px;
    height: 120px;
    margin-top: 20px;
}

.bloc1 {
    width: 220px;
    height: 80px;
    font-size: 20px;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#color0 {
    background-color: yellow;
    text-align: center;
}

#color1 {
    background-color: brown;
    text-align: center;
}

#color2 {
    background-color: green;
    text-align: center;
}

#color3 {
    background-color: maroon;
    text-align: center;
}

#color4 {
    background-color: blue;
    text-align: center;
}

.copy {
    color: white;
    text-align: right;
    border: 2px solid red;
}