<!DOCTYPE html>

<head> </head>

<body>
    <h1>Un exemple de vues</h1>
    <p>Vous êtes le joueur <%= nom %>
    </p>
    <p>et la proposition est <%= proposition %>
    </p>
    <form action="" method="POST">
        <label for="nom">Nom</label>
        <input type="text" name="nom">
        <input type="submit" value="Envoyer">
    </form>
</body>