/* Police */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Généralités */
p,
a {
  font-family: "Montserrat";
}

h2 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}
h1,
h5 {
  font-family: "Poppins", sans-serif;
}
/* Bouton haut de page */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
  background-color: #7bc5db;
  transition: 0.2s;
}

#btn-back-to-top img {
  width: 15px;
  margin-bottom: 5px;
}
#btn-back-to-top:hover {
  opacity: 50%;
}

/* Video accueil */

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }

  header video {
    display: none;
  }
} */

/* Image d'accueil */
/* header {
  background-image: url(img/accueil.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* Menu */
nav {
  color: white;
  width: 100%;
  justify-content: center;
  position: absolute;
}

nav ul {
  list-style-type: none;
  justify-content: space-between;
  width: 50%;
  margin-top: 15px;
  display: flex;
  padding-left: 0px;
}

.nav {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

.nav:hover {
  color: black;
}

.titre {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nous {
  min-height: 30em;
  align-items: center;
  padding: 0px 30px 0px 30px;
}
.nous h2 {
  margin-bottom: 50px;
  margin-top: 70px;
}

.nous p {
  margin-bottom: 70px;
}

/* Notre équipe */
.equipe {
  background-color: #1c1c1c;
  color: white;
  padding: 50px 0px 50px 0px;
}
.equipe img {
  margin: 50px 0px 15px 0px;
}
.profil {
  padding: 30px;
}
/* Nos services */
#services h2 {
  margin-top: 70px;
}
.services {
  margin-bottom: 50px;
}
.card {
  margin-bottom: 50px;
  padding: 30px;
}
.card-title {
  font-weight: bolder;
}
/* Nos valeurs */
#valeurs {
  margin-top: 30px;
}
.valeurs {
  background-image: url(img/accueil.jpg);
  height: 30vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}
.valdesc {
  margin-top: 70px;
}
.valdesc h3 {
  margin-top: 30px;
}
.val p {
  padding: 0px 30px 0px 30px;
}
/* Contact */
#contact {
  margin: 80px 0px 50px 0px;
}
.bloccontact {
  background-color: #dcf7ff;
  padding: 20px;
}

.bloccontact a {
  background-color: black;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  color: white;
  text-decoration: none;
}

/* Pour la map */
.map-responsive {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Footer */

footer img {
  width: 50px;
}

footer ul li a {
  text-align: center;
  color: black;
  text-decoration: none;
  transition: 0.4s;
  padding: 0px 20px;
}

footer ul li a:hover {
  color: #7bc5db;
}

/* Responsive */

/* Menu */
.navbar-toggler-icon {
  color: white;
}

/* Nos valeurs */
@media (min-width: 768px) and (max-width: 1000px) {
  .val img {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 992px) {
  nav ul {
    width: 100%;
  }
  nav ul li {
    padding: 10px 0px;
  }
}

@media (max-width: 767px) {
  .map-responsive {
    height: 200px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 40px;
  }
}
